.todo_list {
  height: 76vh;
  position: relative;
  top: 5rem;
  padding: 1rem;
  overflow: scroll;
  animation: todo_listAnimation 0.5s;
}
.todo_list .todo_list-container {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin-top: 1rem ;
  border-radius: 10px;
}
.todo_list .todo_list-container .todo_list_text {
  text-decoration: line-through;
  color: gray;
}
.todo_list .todo_list-container .delBtn {
  animation: todo_listAnimation 0.5s;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}
@keyframes todo_listAnimation {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
